@import url("https://use.fontawesome.com/releases/v5.15.4/css/all.css");
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


$primary_black: #000;

$primary_white: #FFF;

$secondary_white: #C5BBBB;

$primary_red: #FF0000;

$secondary_red: #FE4949;

$tertiary_red: #D10000;

$primary_font: "Poppins", sans-serif;

$secondary_font: "Oswald", sans-serif;


*{
    margin: 0px;
    padding: 0px;
}

html{
    font-family: $primary_font;
    font-size: 22px;
}

header{
    position: absolute;
    left: 0;
    right: 0;
    z-index: 1;

    #desktop_nav{

        color: $primary_white;

        #pre_nav{
            font-size: 0.7rem;
            width: 100%;
            display: flex;
            justify-content: space-between;

            #socials_links{
                margin: 10px 40px;

                i{
                    font-size: 1.4rem;
                    padding: 0px 10px;
                }
            }

            #contact_links{
                margin: 10px 20px;
                font-weight: 500;
                
                span{
                    padding: 0px 20px;
                }
            }
        }

        #main_nav{
            display: flex;
            border-top: 1px solid rgba(255, 255, 255, 0.25);
            border-bottom: 1px solid rgba(255, 255, 255, 0.25);
            align-items: center;
            justify-content: space-around;
            flex-direction: row;
            font-family: $secondary_font;
            height: 113px;

            img{
                margin: 25px;
            }

            #nav_links{
                display: flex;
                height: 100%;

                span{
                    display: flex;
                    align-items: center;
                    height: 100%;
                    padding: 0px 20px;
                    font-size: 1.2rem;
                    color: $primary_white;
                } 

                span:nth-child(1){
                    background: rgba(52, 52, 52, 0.71);
                }

                span:not(:last-child){
                    font-weight: bold;
                }
            }

            #nav_right_buttons{

                span{
                    font-size: 1.2rem;
                    color: $primary_white;
                    padding: 32px 10px;
                }
            }
        }
        #mobile_nav {
            display: none;
            cursor: pointer;
            align-items: center;
            justify-content: center;
            font-size: 1.5rem;
        }
    }
}

main{

    #top_section{
        background-image: url("../img/background_top_section.png");
        background-size: cover;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        background-position: 15%;
        
        .overlay {
            background-color: transparent;
            background-image: radial-gradient(at center center, $primary_black 0, $primary_black 100%);
            background-position: center center;
            opacity: 0.5;
            height: 100%;
            width: 100%;
            top: 0;
            left: 0;
            position: absolute;
        }

        .section_text{
            display: flex;
            flex-direction: column;
            align-items: center;
            color: $primary_white;
            position: relative;
            text-align: center;

            div:nth-child(1){
                font-weight: 500;
                font-size: 1.75rem;
                color: $secondary_red;
            }

            div:nth-child(2){
                font-family: $secondary_font;
                font-weight: 600;
                font-size: 4rem;
                color: $primary_white;
            }

            div:nth-child(3){
                font-weight: 600;
                font-size: 1.25rem;
                color: $secondary_white;

                span{
                    color: $primary_white;
                }
            }

            #top_button{
                margin-top: 25px;
                padding: 15px;
                border: 2px solid $primary_white;
                border-radius: 5px;
                font-weight: 600;
                font-size: 1.125rem;
                color: $primary_white;
                cursor: pointer;
            }
        }

        #next_page_button{
            position: absolute;
            bottom: 50px;
            color: $primary_white;
            font-size: 1.5rem;
            cursor: pointer;
        }
    }

    .second_section{
        

        #top_images{
            min-height: 300px;
            display: flex;
            width: 100%;
            color: $primary_white;
            justify-content: center;
            flex-wrap: wrap;

            .img_container{
                width: 25%;
                display: flex;
                position: relative;
                align-items: center;
                justify-content: center;

                img{
                    height: 100%;
                    width: 100%;
                    position: relative;
                }

                .img_text_container{
                    position: absolute;
                    height: 100%;
                    width: 80%;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-evenly;

                    .red_color{
                        color: $primary_red;
                    }

                    span:nth-child(1){
                        font-size: 1.5rem;
                        font-weight: 600;
                    }

                    span:nth-child(2){
                        font-weight: 600;
                        font-size: 0.75;
                        color: $secondary_white;
                    }

                    .button{
                        padding: 12px 25px;
                        border: 2px solid $primary_white;
                        border-radius: 5px;
                        font-weight: 600;
                        font-size: 0.75rem;
                        color: $primary_white;
                        cursor: pointer;
                        width: fit-content;
                    }
                }
            }
            .shadow{

                img{
                    filter: brightness(50%);
                }
            }

        }

        #bottom_articles{
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            padding: 80px 0px;
            gap: 20px;

            #articles_container{
                display: grid;
                gap: 20px;
                grid-template-columns: repeat(4, 1fr);
                justify-items: center;
                
                .single_article_container{

                    div:not(:last-child){
                        margin-bottom: 5px;
                    }

                    div:nth-child(2){
                        font-size: 0.875rem;
                        color: #6B6B6B;
                    }

                    div:nth-child(3){
                        font-weight: bold;
                        font-size: 1.125rem;
                        color: $primary_black;
                    }

                    div:nth-child(4){

                        span{
                            font-size: 0.438rem;
                        }
                    }
                    
                    .shop_button{
                        padding: 12px 25px;
                        border: 2px solid $primary_black;
                        border-radius: 2px;
                        font-weight: 600;
                        font-size: 0.625rem;
                        cursor: pointer;
                        width: fit-content;
                    }
                }
            }
        }

        #bottom_articles > div:first-child{
            font-family: $secondary_font;
            font-size: 1,375rem;
            font-weight: 600;
        }

        .banner{
            height: 400px;
            display: flex;
            align-items: center;
            justify-content: center;

            .section_text{
                display: flex;
                flex-direction: column;
                align-items: center;
                color: $primary_white;
                position: relative;
                text-align: center;
    
                div:nth-child(1){

                    font-weight: 600;
                    font-size: 1.5rem;
                    color: $tertiary_red;
                }
    
                div:nth-child(2){

                    font-weight: 600;
                    font-size: 2.25rem;
                    color: $primary_white;
                }
    
                div:nth-child(3){

                    font-weight: 600;
                    font-size: 0.875rem;
                    color: $secondary_white;
                }

                .button{
                    padding: 12px 25px;
                    border: 2px solid $primary_white;
                    border-radius: 2px;

                    font-weight: 600;
                    font-size: 0.75rem;
                    color: $primary_white;
                    cursor: pointer;
                    width: -webkit-fit-content;
                    width: -moz-fit-content;
                    width: fit-content;
                    margin-top: 25px;
                }
            }
        }

        .first{
            background-image: url("../img/nathan-dumlao-yY1qNV3bhWA-unsplash\ 1.png");
            background-size: cover;
        }
    }
}



@media(max-width: 1300px){

    main .second_section #bottom_articles #articles_container {
        grid-template-columns: 1fr 1fr;
    }
}

@media(max-width: 1000px){

    html{
        font-size: 14px;
    }

    main .second_section #top_images .img_container {
        width: 50%;
    }

    header #desktop_nav #main_nav #nav_links,
    header #desktop_nav #main_nav #nav_right_buttons span{
        display: none;
    }

    header #desktop_nav #mobile_nav {
        display: flex;
    }
}

@media(max-width: 660px){

    html{
        font-size: 12px;
    }
    
    header #desktop_nav #pre_nav{
        display: none;
    }

    main .second_section #top_images .img_container {
        width: 100%;
    }

    main .second_section #bottom_articles #articles_container {
        grid-template-columns: 1fr;
    }
}